.main-content-wrapper {

  & > section, & > article {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  & > section {
    padding: 50px;

    & > {
      margin: 20px 0px;
    }

  }

  & h1 {
    color: #DDD;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  & h2 {
    color: #BBB;
    font-size: 24px;
    font-weight: 300;
  }

}

.header-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  filter: blur(10px);
  height: 300px;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-info {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  height: 300px;
  padding: 50px;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.article-main {
  overflow-y: scroll;
  padding: 50px;
  position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-details {

  padding: 0px 20px;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;

  & > h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 5px;
    margin: 10px 0px;
    text-shadow: 3px 3px 5px #000;
    text-transform: uppercase;
  }

  & > h2, & > h3 {
    font-weight: 300;
  }

}


.album-cover, .profile-picture, .playlist-cover {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  height: 200px;
  overflow: hidden;
  width: 200px;

  & > img {
    width: 200px;
    height: auto;
  }

}

.profile-picture {
  border-radius: 50%;
}

.artist-albums {
  margin: 50px 0px;
  width: 100%;
}

.album-list {
  white-space: nowrap;
  & > li {
    display: inline-block;
    margin: 0px 20px 20px 20px;
  }
  & > li:first-child { margin-left: 0px; }
  & > li:last-child { margin-right: 0px; }
}

.album-list-link, .playlist-list-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    align-items: flex-end;
    justify-content: center;
  height: 200px;
  overflow: hidden;
  transition: 0.1s;
  width: 200px;

  & > h3 {
    background-color: #000;
    color: #EEE;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.85;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
  }

}

.album-list-link:hover {
  filter: brightness(0.7);
}

.article-sub-heading {
  text-transform: uppercase;
}
