.artists-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  & > li {
    display: inline-block;
  }

}

.artist-box-link {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1px;
  display: flex;
    justify-content: center;
    align-items: flex-end;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  width: 200px;

  & h2 {
    background-color: #000;
    color: #EEE;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.85;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
  }

}

.artist-box-link:hover {
  filter: brightness(0.7);
}
