.artists-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  & > li {
    display: inline-block;
  }

}

.artist-box-link {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1px;
  display: flex;
    justify-content: center;
    align-items: center;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  width: 200px;

  & h2 {
    background-color: #000;
    box-sizing: border-box;
    color: #EEE;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    opacity: 0.85;
    padding: 20px 10px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    text-transform: uppercase;
    vertical-align: middle;
    width: 200px;
  }

}

.artist-box-link:hover {
  filter: blur(2px);
}
