.artists-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  & > li {

    display: inline-block;
    margin: 10px;
    width: 200px;
    white-space: nowrap;

  }

}

.artist-box {

  border-radius: 1px;
  overflow: hidden;

  & > a {
    background-color: #2c2c2f;
    box-sizing: border-box;
    color: #EEE;
    display: block;
    transition: 0.1s;
  }

  & img {
    display: block;
    transition: 0.1s;
    width: 100%;
  }

  & h2 {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.artist-box:hover {

  & img {
    filter: blur(2px);
  }

  & > a {
    background-color: #4c4c4f;
  }

}
