.app-wrapper {
  display: flex;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-bar-wrapper {
  display: flex;
  flex: 0 0 90px;
  flex-direction: column;
}

.main-content-wrapper {
  flex-basis: auto;
  flex-grow: 1;
  min-width: 870px;
  position: relative;
}

.now-playing-wrapper {
  display: flex;
  flex: 0 0 240px;
  flex-direction: column;
}
