@import 'reset.css';
@import 'typeface.css';
@import 'splash.scss';
@import 'layout.scss';
@import 'nav-bar.scss';
@import 'now-playing.scss';

body {
  background-color: #121314;
  color: white;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}
