body {
  background-color: #121314;
  color: #EEE;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  overflow: hidden;
}

a {
  color: #CCC;
}

a:hover {
  color: #EEE;
}

a:active {
  color: #AAA;
}

.scrollable-x {
  overflow-x: scroll;
}

.scrollable-y {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
::-webkit-scrollbar-thumb:active {
  background: #4e4e4e;
}
::-webkit-scrollbar-track {
  background: #323334;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #323334;
}
::-webkit-scrollbar-track:active {
  background: #323334;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
