.nav-bar-wrapper {
  background-color: #1c1c1f;
  display: flex;
  justify-content: space-between;
}

.nav-bar-logo {
  background-image: url('brand/logo-mixer-white-cutout.png');
  background-size: contain;
  flex: 0 0 auto;
  height: 70px;
  width: 70px;
  margin: 20px;
}

.nav-bar-links {
  flex: auto;
  width: 100%;
}

.nav-bar-links > ul {

}

.nav-bar-links li {
  height: 75px;
  margin: 15px 0px;
  position: relative;
  text-align: center;
}

.nav-bar-links li > a > div {
  display: table-cell;
  height: 70px;
  cursor: pointer;
  vertical-align: bottom;
}

[class^="icon-"] {
  background-size: 40px 40px;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.nav-bar-links li:hover > a > [class^="icon-"] {
  opacity: 0.8;
}

.icon-search { background-image: url('nav-bar-icons/search.png'); }
.icon-browse { background-image: url('nav-bar-icons/browse.png'); }
.icon-your-music { background-image: url('nav-bar-icons/yourmusic.png'); }
.icon-radio { background-image: url('nav-bar-icons/radio.png'); }
.icon-social { background-image: url('nav-bar-icons/follow.png'); }

.nav-bar-links li > a {
  color: #aaa;
}

.nav-bar-links li:hover > a {
  color: #eee;
}

.active-page:before {
  background-color: #84bd00;
  content: "";
  display: block;
  height: 40px;
  position: absolute;
    left: 0;
  width: 3px;
}

.nav-bar-session {
  border-top: 1px solid #555;
  flex: 0 0 auto;
  padding: 20px;
  width: 70px;
}

.nav-bar-username {
  color: #aaa;
  display: block;
  font-size: 14px;
  margin: 10px;
  text-align: center;
}

.nav-bar-session > button {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 13px;
  color: #ccc;
  cursor: pointer;
  padding: 5px;
  width: 100%;
}
