.nav-bar-wrapper {
  background-color: #1c1c1f;
  display: flex;
  justify-content: space-between;
}

.nav-bar-logo {
  background-image: image-url('brand/white-logo-no-type.svg');
  background-size: contain;
  flex: 0 0 auto;
  height: 70px;
  margin: 20px;
  opacity: 0.8;
  width: 70px;
}

.nav-bar-links {
  flex: auto;
  width: 100%;
}

.nav-bar-links > ul {

}

.nav-bar-links li {
  height: 75px;
  margin: 15px 0px;
  position: relative;
  text-align: center;
}

.nav-bar-links li > a > div {
  display: table-cell;
  height: 70px;
  vertical-align: bottom;
}

.nav-bar-links li > a {
  color: #aaa;
}

.nav-bar-links li:hover > a {
  color: #eee;
}

.active-page:before {
  border-right: 5px solid #84bd00;
  border-radius: 0px 5px 5px 0px;
  content: "";
  display: block;
  height: 70px;
  position: absolute;
    left: 0;
}

.nav-bar-session {
  flex: 0 0 auto;
  padding: 20px;
  width: 70px;
}

.nav-bar-username {
  color: #aaa;
  display: block;
  font-size: 14px;
  margin: 20px 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-bar-session > button {
  background-color: #555;
  border: none;
  border-radius: 13px;
  color: #ccc;
  cursor: pointer;
  font-size: 10px;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
}

.nav-bar-session > button:hover {
  background-color: #606060;
}

.nav-bar-session > button:active {
  background-color: #333;
  color: #999;
}

.nav-bar-image-wrapper {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;

  & > img {
      width: 100%;
      height: auto;
  }

}
