.now-playing-wrapper {
  background-color: #1c1c1f;
  padding: 20px;
}

.now-playing-info {

  & h2 {
    color: #aaa;
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  & h3 {
    color: #ccc;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

}

.now-playing-album-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  width: 240px;
}

.now-playing-controls {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;

  & div {
    margin: 0 10px;
  }

}

.playlist-controls {

  display: flex;
  justify-content: space-around;
  margin: 40px 20px;

}

.play-position-slider {

  display: flex;
  align-items: center;
  justify-content: space-around;

  & span {
    font-size: 10px;
  }
}

.no-music {
  width: 0px;
  overflow: hidden;
  visibility: hidden;
}
