.now-playing-wrapper {
  background-color: #1c1c1f;
  padding: 20px;
}

.now-playing-info {

  & img {
    width: 100%;
    height: auto;
  }

  & > h2 {
    color: #aaa;
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
  }

  & > h3 {
    color: #ccc;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

}

.now-playing-controls {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;

  & div {
    margin: 0 10px;
  }

}

.playlist-controls {

  display: flex;
  justify-content: space-around;
  margin: 40px 20px;

}

.play-position-slider {

  display: flex;
  align-items: center;
  justify-content: space-around;

  & span {
    font-size: 10px;
  }
}
