h1 {
  position: relative;
}

.edit-pencil {
  background-image: image-url('icons/edit-pencil.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  opacity: 0.2;
  position: absolute;
  top: 0;
    right: -30px;
    width: 20px;
    height: 20px;
}

.edit-pencil:hover {
  opacity: 0.5;
}

.playlist-mosaic {

  border-radius: 3px;
  font-size: 0;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;

  & > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    height: 100px;
    width: 100px;
  }

  & > h3 {
    background-color: #000;
    box-sizing: border-box;
    color: #EEE;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.85;
    overflow: hidden;
    padding: 10px;
    position: absolute;
      bottom: 0;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
  }

}

.big-play-button, .follow-button, .unfollow-button {
  background-color: #84bd00;
  border: none;
  border-radius: 15px;
  color: #EEE;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin: 20px 20px 0px 0px;
  padding: 5px;
  text-transform: uppercase;
  width: 200px;
};

.big-play-button:hover, .follow-button:hover {
  background-color: #94Cd10;
}

.big-play-button:active, .follow-button:active {
  background-color: #74Ad00;;
}

.unfollow-button {
  background-color: transparent;
  border: 1px solid #BBB;
}

.unfollow-button:hover {
  border: 1px solid #EEE;
  color: #FFF;
}

.unfollow-button:active {
  border: 1px solid #999;
  color: #CCC;
}

.disabled-button {
  background-color: #333;
  border: none;
  color: #EEE;
  opacity: 0.5;
}

.delete-playlist-button {
  background-color: transparent;
  background-image: image-url('icons/trash.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  margin: 20px 20px 0px 0px;
  position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  width: 30px;
}

.delete-playlist-button:hover {
  background-color: #BA3434;
}
