.playlist-mosaic {

  border-radius: 3px;
  font-size: 0;
  height: 200px;
  overflow: hidden;
  width: 200px;

  & > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 100px;
    width: 100px;
  }

}

.playlist-play-button {
  background-color: transparent;
  border: 1px solid #BBB;
  border-radius: 15px;
  color: #EEE;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin-top: 20px;
  padding: 5px;
  text-transform: uppercase;
  width: 200px;
};

.playlist-play-button:hover {
  background-color: #333;
  opacity: 0.7;
}

.playlist-play-button:active {
  opacity: 0.3;
}
