.splash {
  background-blend-mode: multiply;
  background-color: #BBB;
  background-image: image-url('splash/splash-002.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    align-items: center;
    justify-content: center;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.splash-wrapper {
  display: flex;
    align-items: center;
    justify-content: center;
  min-width: 829px;
}

.splash-logo {
  background-image: image-url('brand/logo-white-cutout.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 81.4px;
  margin: 0 auto;
  width: 268px;
}

.auth-form-logo {
  background-image: image-url('brand/logo-white-cutout.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 46px;
  margin: 0 auto;
  width: 150px;
}

.splash-right {
  flex: 0 0 540px;
  padding: 45px;
}

.splash-left {
  flex: 0 0 288px;
  padding: 45px;
}

.splash-divider {
  background-color: white;
  flex: 0 0 1px;
  height: 400px;
}

.splash-left button {
  border-radius: 19px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 37px;
  margin: 20px 0px;
  padding: 5px 0px;
  text-transform: uppercase;
  width: 100%;
}

.splash-right h1 {
  color: #07D159;
  font-size: 60px;
  font-weight: 400;
}

.splash-right h2 {
  color: white;
  font-size: 28px;
  font-weight: 300;
  margin: 35px 0px 45px 0px;
}

.splash-right li {
  background: url('splash/checked.png') no-repeat left top;
  color: white;
  font-size: 18px;
  font-weight: 300;
  height: 24px;
  padding: 5px 0 0 40px;
  position: relative;
}

.green-button {
  border: none;
  background-color: #07D159;
}

button.grey-button {
  border: none;
  background-color: #AAA;
  cursor: no-drop;
}

.clear-button {
  background-color: transparent;
  border: 1px solid white;
}

.splash-left h2 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 20px auto;
  text-align: center;
}

.splash-left label {
  color: #AAA;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin: 20px 0px 0px 0px;
}

.splash-left input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

.splash-left form {
  position: relative;
}

.splash-left div {
  color: #EEE;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
}

.splash-left div a {
  color: #EEE;
}

.input-error {
  border-bottom: 2px solid red;
  width: 100%;
}

.input-error:after {
  content: "Does not match your email above.";
  background-color: #D00;
  color: white;
  font-weight: 300;
  padding: 5px 10px;
  position: absolute;
    left: 205px;
    top: 150px;
  width: 100%;
}

.input-error:before {
  content: "";
  border-left: 10px solid transparent;
  border-top: 10px solid #D00;
  border-right: 10px solid transparent;
  border-bottom: none;
  position: absolute;
    left: 200px;
    top: 150px;
}

.signup-errors {
  position: absolute;
  top: -20px;
  left: 250px;
  z-index: 1;
}

.signup-errors li {
  background-color: #CE1A2B;
  color: #DDD;
  position: relative;
  font-size: 14px;
  margin: 40px;
  padding: 5px 8px;
  visibility: hidden;
}

.error-message {
  white-space: pre;
}

.error-message:before {
  border-right: 5px solid #CE1A2B;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: none;
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;

}

li.error {
  visibility: visible;
}

div.login-error {
  color: #CE1A2B;
  font-size: 16px;
  padding-top: 20px;
}
