.track-list {

  width: 100%;

  & th {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    color: #AAA;
    font-weight: 300;
    padding: 10px 0px;
    text-transform: uppercase;
  }

  & duration-heading {
    width: 75px;
  }

  & tr {
    border-bottom: 1px solid #555;
    color: #aaa;
    font-size: 14px;
    text-align: left;
    transition: 0.1s;

    & td {
      padding: 10px 0px;
    }

    & td.play-tracklist, & td.add-tracklist {
      box-sizing: border-box;
      cursor: pointer;
      opacity: 0;
      width: 40px;
    }

  }

  & tr:hover {
    background-color: #222;

    & td.play-tracklist, & td.add-tracklist {
      opacity: 0.7;
    }

    & td.play-tracklist:hover, & td.add-tracklist:hover {
      opacity: 0.9;
    }

    & td.play-tracklist:active, & td.add-tracklist:active {
      opacity: 0.5;
    }

  }

  & tr:first-child:hover{
    background-color: transparent;
  }

  & td {
    padding: 10px;
  }

}
