.track-list {

  width: 100%;

  & th {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    color: #AAA;
    font-weight: 300;
    padding: 15px 10px;
    text-transform: uppercase;
  }

  & .duration-heading {
    width: 40px;
  }

  & tr {
    border-bottom: 1px solid #555;
    color: #aaa;
    font-size: 14px;
    text-align: left;
    transition: 0.1s;

    & td {
      padding: 10px;
    }

    & td.play-tracklist, & td.add-tracklist, & td.remove-song {
      box-sizing: border-box;
      cursor: pointer;
      opacity: 0;
      width: 30px;
    }

    & td:last-child {
      text-align: right;
    }

  }

  & tr:hover {
    background-color: #222;

    & td.play-tracklist, & td.add-tracklist, & td.remove-song {
      opacity: 0.7;
    }

    & td.play-tracklist:hover, & td.add-tracklist:hover, & td.remove-song:hover {
      opacity: 0.9;
    }

    & td.play-tracklist:active, & td.add-tracklist:active, & td.remove-song:active {
      opacity: 0.5;
    }

  }

  & tr:first-child:hover{
    background-color: transparent;
  }

  & td {
    padding: 10px;
  }

}
