@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: asset-url('ProximaNova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal, 400;
  src: asset-url('ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold, 700;
  src: asset-url('ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 900;
  src: asset-url('ProximaNova-Black.otf') format('opentype');
}
